.packsBox {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addBtn {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    align-items: center;
}

.addCardBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media only screen and (max-width: 900px) {
    .addBtn {
        flex-direction: column;
        justify-content: space-between;
    }

    .packsBox {
       width: 100%;
    }
}