.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
}

.profileBox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    min-height: 330px;
    border: 2px solid silver;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
    background: ghostwhite;

}

.editAvatarBtn {
    position: absolute;
    top: -30px;
}

.message{text-align: center}

.name {
    font-weight: 300;
    font-size: 25px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0 0;
}

.userName {
    color: black;
}

.avatarBox {
    position: relative;
}

.avatar {
    width: 160px;
    border-radius: 10px;
}

.editModeImg {
    width: 160px;
    border-radius: 10px;
    filter: contrast(40%)
}

.editAvatarBtn:hover {
    color: whitesmoke;
}



