.wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    border: 2px solid silver;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
    background: ghostwhite;
}

.title {
    font-weight: 800;
    font-size: 22px;
    text-align: center;
}

.text {
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
    max-height: 160px;
    overflow-y: auto;
}

.rate {
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 65px;
}

.label {
    margin-bottom: 10px;
    color: #2D2E46;
    font-weight: 600;
}

.buttons_answer,
.buttons_question {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons_question {
    margin-top: 75px;
}

.buttons_answer button,
.buttons_question button {
    min-width: 100px;
}

.buttons_answer button:first-child,
.buttons_question button:first-child {
    margin-right: 40px;
}



