.range {
    position: relative;
}

.progressOverlay {
    width: calc(100% - 15px);
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    margin-left: 1px;
    z-index: 3;
}

.progress {
    height: 12px;
    box-shadow: 3px 0 0 0 #4ac730;
    position: relative;
    left: 0;
    right: 1px;
    z-index: 1;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    /*background: transparent; !* Otherwise white in Chrome *!*/
    background: #eee;
    border: 1px solid #2a7a8f;
    outline: none;
    border-radius: 15px;
    margin: 0;
    height: 14px;
    position: absolute;
    top: -1px;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 16px;
    -webkit-appearance: none;
    color: #2a7a8f;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #2a7a8f;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
    box-shadow: 1px 1px 3px #2a7a8f, inset 0 0 3px #2a7a8f;
    z-index: 5;
    position: relative;
    top: -1.5px;
}

.valueCoords {
    position: absolute;
    top: -30px;
    background: #4ac730;
    color: #fff;
    padding: 3px 5px;
    border-radius: 10%;
    line-height: 1;
    font-weight: bold;
}