.eye{
    position: absolute;
    bottom: 14px;
    right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.regInner {
    position: relative;
    margin-bottom: 20px;
}

.app {
 align-items: center;
}

.navLinkBottomBlock{
    color: dimgrey;
    padding: 7px;
    text-decoration:none
}

.form {
    margin-top: 20px;
    padding: 10px;
    flex-direction: column;
    width: 305px;
    border: 1px solid silver;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
    background: ghostwhite;

}
@media only screen and (min-width: 1100px)  {
    body {
        padding: 0 240px 0 240px;
    }
}