.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: ghostwhite;
    width: 100%;
    border-radius: 10px;
}


.header__list {
    display: contents;

}

ul {
    list-style-type: none;
}

.header__list li a {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    padding-left: 20px;
    color: #1c1c1e;
    text-decoration: none;
    transition: all .5s ease;

}

.header__list li a:hover {
    color: grey;
    font-size: 18px;
    : 0.5s;

}
